@model IEnumerable<login2.Models.Categorie>

@{
    ViewData["Title"] = "Index";
        var aantalschoencat = 0;
        var aantalkabelcat = 0;
        var aantaldronecat = 0;
        var aantalspelcomputercat = 0;
        var aantalhorlogecat = 0;
        var aantalfotocameracat = 0;
        
}
<h2>Categorieën:</h2>
<hr/>
@foreach (var item in Model) {
    
    <a asp-controller="Schoen" asp-action="Index">  <h2>Schoenen</h2></a> 
    @foreach (var schoen in item.Schoenen){
      @if (aantalschoencat < 3){
            <a asp-controller="schoen" asp-action="Details" asp-route-id="@schoen.Id"><p>@schoen.Naam</p></a>
            aantalschoencat = aantalschoencat + 1;
        }
    }
          
    <a asp-controller="Kabel" asp-action="Index"> <h2>Kabels</h2></a>
    @foreach (var kabel in item.Kabels){
        @if (aantalkabelcat < 3){
            <a asp-controller="Kabel" asp-action="Details" asp-route-id="@kabel.Id"><p>@kabel.Naam</p></a>
            aantalkabelcat = aantalkabelcat + 1; 
        }
    }
    
    <a asp-controller="Drone" asp-action="Index"><h2>Drones</h2></a>
    @foreach (var drone in item.Drones){
        @if (aantaldronecat < 3){
            <a asp-controller="Drone" asp-action="Details" asp-route-id="@drone.Id"><p>@drone.Naam</p></a> 
            aantaldronecat = aantaldronecat + 1;       
        }
    }

    <a asp-controller="Spelcomputer" asp-action="Index"><h2>Spelcomputers</h2></a>
    @foreach (var spelcomputer in item.Spelcomputers){
        @if (aantalspelcomputercat < 3){
            <a asp-controller="Spelcomputer" asp-action="Details" asp-route-id="@spelcomputer.Id"><p>@spelcomputer.Naam</p></a> 
            aantalspelcomputercat = aantalspelcomputercat + 1;
        }
    }

    <a asp-controller="Horloge" asp-action="Index"><h2>Horloges</h2></a>
    @foreach (var horloge in item.Horloges){
        @if (aantalhorlogecat < 3){
            <a asp-controller="Horloge" asp-action="Details" asp-route-id="@horloge.Id"><p>@horloge.Naam</p></a> 
            aantalhorlogecat = aantalhorlogecat + 1;
        }
    }

    <a asp-controller="Fotocamera" asp-action="Index"><h2>Fotocameras</h2></a>
    @foreach (var fotocamera in item.Fotocameras){
        @if (aantalfotocameracat < 3){
            <a asp-controller="Fotocamera" asp-action="Details" asp-route-id="@fotocamera.Id"><p>@fotocamera.Naam</p></a> 
            aantalfotocameracat = aantalfotocameracat + 1;          
        }
    }
}


@if (this.User.IsInRole("Admin"))
{


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button>Edit</button></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><button>Details</button></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><button>Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
}
