@model IEnumerable<login2.Models.Schoen>

@{
    ViewData["Title"] = "Index";
}

<h2>Schoenen</h2>
@if (this.User.IsInRole("Admin"))
            {
<p>
    <a asp-action="Create">Create New</a>
</p>
            }
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
                </th>
                <th>
                    @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NaamSortParm })
                </th>
                <th>
                    @Html.ActionLink("Prijs", "Index", new { sortOrder = ViewBag.PrijsSortParm })
                </th>
                <th>
                    @Html.ActionLink("Merk", "Index", new { sortOrder = ViewBag.MerkSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afbeelding)
                </th>

            @if (this.User.IsInRole("Admin"))
                {
                <th>
                    @Html.ActionLink("Kleur", "Index", new { sortOrder = ViewBag.KleurSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal", "Index", new { sortOrder = ViewBag.AantalSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal_gekocht", "Index", new { sortOrder = ViewBag.Aantal_gekochtSortParm })
                </th>
                <th>
                    @Html.ActionLink("Maat", "Index", new { sortOrder = ViewBag.MaatSortParm })
                </th>
                <th>
                    @Html.ActionLink("Materiaal", "Index", new { sortOrder = ViewBag.MateriaalSortParm })
                </th>
                <th>
                    @Html.ActionLink("Geslacht", "Index", new { sortOrder = ViewBag.GeslachtSortParm })
                </th>
                }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

<div class="card" style="float: left; margin:2%; border: 1px solid #ddd;"><a asp-action="Details" asp-route-id="@item.Id">
  <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
  <div class="card-block">
    <h4 class="card-title">@item.Naam</h4>
    <p class="card-text">Beschrijving van het product.</p>
  </div>
  <ul class="list-group list-group-flush">
    <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Type: @item.Type</li></a>
    <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Merk: @item.Merk</li></a>
    <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Prijs: @item.Prijs</li></a>
    
    @if (!this.User.IsInRole("Admin")){
    <div>
    <form  asp-controller="Home" asp-action="AddToShoppingCart" method="GET">
        <p> @Html.TextBox("aantal", 1)
            @Html.TextBox("product", @item.Id, new {style = "display: none;"})
            @Html.TextBox("model", "Kabel", new {style = "display: none;"})
            @Html.TextBox("prijs", @item.Prijs, new {style = "display: none;"})
            <input class="aantal" type="submit" value="Add to shoppingcart" />
        </p>
    </form>
    </div>
    }
     @if (this.User.IsInRole("Admin")) {  
                     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                     <a asp-action="Delete" asp-route-id="@item.Id" style="float:right;">Delete</a>
                  }
  </ul>
  </a>
</div>

        <!-- <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Merk)
            </td>
            <td>
                 <img class="test" src="@Url.Content(@item.Afbeelding)" width="200px" height= "100px" />
            </td>

        @if (this.User.IsInRole("Admin"))
            {            
            <td>
                @Html.DisplayFor(modelItem => item.Kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal_gekocht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materiaal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geslacht)
            </td>
            }
            
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                @if (this.User.IsInRole("Admin"))
            {<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            }
            </td>
        </tr> -->
}
    </tbody>
</table>
