@model login2.Models.Drone

@{
    ViewData["Title"] = "Details";
}

<h2>Itempagina</h2>

<div>
    <h4>@Model.Naam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Merk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kleur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kleur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aantal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Afbeelding)
        </dt>
        <dd>
            <img class="test" src="@Url.Content(@Model.Afbeelding)" width="200px" height= "100px" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aantal_gekocht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aantal_gekocht)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categorie.Id)
        </dd>
    </dl>
</div>
<div>

    @if (!this.User.IsInRole("Admin"))
    {
    <!-- @Html.ActionLink("Add to shoppingcart","AddToShoppingCart","Home", new { product =  @Model.Id, model = "Drone"}) -->
    <form  asp-controller="Home" asp-action="AddToShoppingCart" method="GET">
        <p> <input type="number" min="0" max=@Model.Aantal name="aantal" class="form-control" value="1" style="width:75px;">
            @Html.TextBox("product", @Model.Id, new {style = "display: none;"})
            @Html.TextBox("model", "Drone", new {style = "display: none;"})
            @Html.TextBox("prijs", @Model.Prijs, new {style = "display: none;"})
            <input class="aantal" type="submit" value="Voeg toe aan shoppingcart" onclick="myCart()"/>
        </p>
    </form>
    <form  asp-controller="Wishlist" asp-action="AddToWishlist" method="GET">
        <p> <input type="number" min="0" max=@Model.Aantal name="aantal" class="form-control" value="1" style="width:75px;">
            @Html.TextBox("product", @Model.Id, new {style = "display: none;"})
            @Html.TextBox("model", "Drone", new {style = "display: none;"})
            @Html.TextBox("prijs", @Model.Prijs, new {style = "display: none;"})
            <input class="aantal" type="submit" value="Voeg toe aan wishlist" onclick="myWishlist()"/>
        </p>
    </form>
                  <script>
function myCart() {
    alert("Toegevoegd aan uw shoppingcart")
}
function myWishlist() {
    alert("Toegevoegd aan uw wishlist")
}
</script>
    
    }

    @if (this.User.IsInRole("Admin"))
    {
    <button type="button"><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></button>
    }
    <button type="button"><a asp-action="Index">Terug naar de lijst</a></button>
</div>
