@model IEnumerable<login2.Models.Drone>

@{
    ViewData["Title"] = "Index";
}

<h2>Alle drones</h2>

@if (this.User.IsInRole("Admin"))
{
    <p><a asp-action="Create">Create New</a></p>
}

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
                </th>
                <th>
                    @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NaamSortParm })
                </th>
                <th>
                    @Html.ActionLink("Prijs", "Index", new { sortOrder = ViewBag.PrijsSortParm })
                </th>
                <th>
                    @Html.ActionLink("Merk", "Index", new { sortOrder = ViewBag.MerkSortParm })
                </th>

            @if (this.User.IsInRole("Admin"))
                {
                <th>
                    @Html.DisplayNameFor(model => model.Afbeelding)
                </th>
                <th>
                    @Html.ActionLink("Kleur", "Index", new { sortOrder = ViewBag.KleurSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal", "Index", new { sortOrder = ViewBag.AantalSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal_gekocht", "Index", new { sortOrder = ViewBag.Aantal_gekochtSortParm })
                </th>
                }
            <th></th>
        </tr>
    </thead>


    <tbody>
    <tr>
    <th>
        <!-- filters -->

    <div id="filter" style="float:left; margin-right:5px;"> 
        <form  asp-controller="Drone" asp-action="Index" method="GET">
            <label for="type">Type</label></br>
            <select id="type" name="type" multiple="multiple">
                <option  value = null selected="selected">
                    Alle Types
                </option>
                @foreach(var item in @ViewBag.AllesTypes) 
                {
                    <option value="@item.Type">@item.Type</option>
                }                       
            </select>

            </br>
            </br>            

            <label for="merk">Merken</label></br>
            <select id="merk" name="merk" multiple="multiple">
                <option  value = null selected="selected">
                    Alle Merken
                </option>
                @foreach(var item in @ViewBag.AllesMerken) 
                {
                    <option value="@item.Merk">@item.Merk</option>
                }
            </select>
            
            </br>
            </br>

            <label for="kleur">Kleuren</label></br>
            <select id="kleur" name="kleur" multiple="multiple">
                <option value = null  selected="selected">Alle Kleuren</option>
                @foreach(var item in @ViewBag.AllesKleuren) 
                {
                    <option value="@item.Kleur">@item.Kleur</option>
                }
            </select>

            </br>
            </br>
           
            <label for="min">Prijs</label>

            </br>
           
            <label for="min">Min prijs</label>
            <input id="min" type="number" name="min_prijs" style="width:55px;"/>

            </br>
            
            <label for="max">Max prijs</label>
            <input id="max" type="number" name="max_prijs" style="width:55px;" />

            </br>
            </br>            

            <input class="Filter" type="submit" value="Voeg filters toe"/>
        </form>
        </br>
        </br>
    </div>
 

<!-- productdata -->
@foreach (var item in Model) 
{

    @if (!this.User.IsInRole("Admin"))
    {
    <div class="products" style="float:left;">
        <div class="card" style="float:left; margin-right:2%; margin-bottom:2%; border:1px solid #ddd;"><a asp-action="Details" asp-route-id="@item.Id">
            <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
            <div class="card-block">
                <h4 class="card-title" style="text-align:center; vertical-align:middle;">@item.Naam</h4>                
                <br>
                <br>
                <br>
            </div>

            <ul class="list-group list-group-flush">
                <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Type: @item.Type</li></a>
                <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Merk: @item.Merk</li></a>
                <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Prijs: @item.Prijs</li></a>
                </a>

            <div>
                <form  asp-controller="Home" asp-action="AddToShoppingCart" method="GET">
                    <p> @Html.TextBox("aantal", 1)
                        @Html.TextBox("product", @item.Id, new {style = "display: none;"})
                        @Html.TextBox("model", "Drone", new {style = "display: none;"})
                        @Html.TextBox("prijs", @item.Prijs, new {style = "display: none;"})
                        <input class="aantal" type="submit" value="Add to cart" />
                    </p>
                </form>

                <form  asp-controller="Wishlist" asp-action="AddToWishlist" method="GET">
                    <p> @Html.TextBox("aantal", 1)
                        @Html.TextBox("product", @item.Id, new {style = "display: none;"})
                        @Html.TextBox("model", "Drone", new {style = "display: none;"})
                        @Html.TextBox("prijs", @item.Prijs, new {style = "display: none;"})
                        <input class="aantal" type="submit" value="Add to wishlist" />
                    </p>
                </form>
            </div>
        </div>
    </div>
    }

        @if (this.User.IsInRole("Admin"))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Merk)
            </td>
            <td>
                 <img class="test" src="@Url.Content(@item.Afbeelding)" width="200px" height= "100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal_gekocht)
            </td>
            

            <td>
                <button type="button"><a asp-action="Details" asp-route-id="@item.Id">Item Page</a></button> 
                <br>
                <br>
                <button type="button"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button> 
                <br>
                <br>             
                <button type="button"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
            
            </td>
        </tr>
        }
 
    }
    </th>
    </tr>
    </tbody>

</table>
