@model IEnumerable<login2.Models.Cart>
<h2>Cart</h2>
 @foreach (var item in Model) {
        <p> Aantal: @item.Aantal, Product_id: @item.Product_Id, Model: @item.Model_naam </p>

        <form  asp-controller="Home" asp-action="Edit" method="POST">
                @Html.TextBox("new_aantal")
                @Html.TextBox("old_aantal",@item.Aantal, new {style = "display: none;"} )
                @Html.TextBox("id",@item.Id, new {style = "display: none;"} )
                <input  type="submit" value="Verander aantal" />
        </form>
        @Html.ActionLink("Delete","DeleteFromShoppingCart","Home", new { product =  @item.Product_Id, model = @item.Model_naam})
 }

 
 