@model login2.Models.Categorie

<ul class="list-inline">
<li class="list-inline-item"><h1>Ordernummer:</h1></li>

<li class="list-inline-item"><h1>@Model.OrderHistory.First().Order_nummer</h1></li>

</ul>
<hr/>

<h1>Producten:</h1>
<hr/>
@foreach (var items in Model.OrderHistory) {     
     @foreach (var item in Model.Drones) {
        @if (item.Id == items.Product_Id && items.Model_naam == "Drone") {
          <div style="height: 100px;width: 100% ;">
          <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
        <h1><a asp-controller="Drone" asp-action="Details" asp-route-id="@item.Id">@item.Naam | Aantal: @items.Aantal | Prijs: @(@items.Prijs * @items.Aantal) | Status: @items.Status</a></h1>
          </div>
          <hr/>
          }
     }
     @foreach (var item in Model.Kabels) {
        @if (item.Id == items.Product_Id && items.Model_naam == "Kabel") {
          <div style="height: 100px;width: 100% ;">
          <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
        <h1><a asp-controller="Kabel" asp-action="Details" asp-route-id="@item.Id">@item.Naam | Aantal: @items.Aantal | Prijs: @(@items.Prijs * @items.Aantal) | Status: @items.Status</a></h1>
          </div>
          <hr/>
          }
     }
     @foreach (var item in Model.Fotocameras) {
        @if (item.Id == items.Product_Id && items.Model_naam == "Fotocamera") {
          <div style="height: 100px;width: 100% ;">
          <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
        <h1><a asp-controller="Fotocamera" asp-action="Details" asp-route-id="@item.Id">@item.Naam | Aantal: @items.Aantal | Prijs: @(@items.Prijs * @items.Aantal) | Status: @items.Status</a></h1>
          </div>
          <hr/>
          }
     }
     @foreach (var item in Model.Horloges) {
        @if (item.Id == items.Product_Id && items.Model_naam == "Horloge") {
          <div style="height: 100px;width: 100% ;">
          <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
        <h1><a asp-controller="Horloge" asp-action="Details" asp-route-id="@item.Id">@item.Naam | Aantal: @items.Aantal | Prijs: @(@items.Prijs * @items.Aantal)</a> | Status: @items.Status</h1>
          </div>
          <hr/>
          }
     }
     @foreach (var item in Model.Spelcomputers) {
        @if (item.Id == items.Product_Id && items.Model_naam == "Spelcomputer") {
          <div style="height: 100px;width: 100% ;">
          <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
        <h1><a asp-controller="Spelcomputer" asp-action="Details" asp-route-id="@item.Id">@item.Naam | Aantal: @items.Aantal | Prijs: @(@items.Prijs * @items.Aantal) | Status: @items.Status</a></h1>
          </div>
          <hr/>
          }
     }
     @foreach (var item in Model.Schoenen) {
        @if (item.Id == items.Product_Id && items.Model_naam == "Schoen") {
          <div style="height: 100px;width: 100% ;">
           <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left; padding: 5px;";>
        <h1><a asp-controller="Schoen" asp-action="Details" asp-route-id="@item.Id">@item.Naam | Aantal: @items.Aantal | Prijs: @(@items.Prijs * @items.Aantal) | Status: @items.Status</a></h1>
          </div>
          <hr/>
          }
     }

}

<ul class="list-inline">
<li class="list-inline-item"><h1>Totaalprijs:</h1></li>
<li class="list-inline-item"><h1> @ViewBag.Totaal</h1></li>
</ul>

<div>
    <a asp-action="OrderHistory"><button>Terug naar de lijst</button></a>
</div>