@model IEnumerable<login2.Models.Horloge>

@{
    ViewData["Title"] = "Index";
}

<h2>Alle horloges</h2>
@if (this.User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
    <br>
    <br>
    <b>Sorteer op:</b>
</p>
}

<table class="table">
    <thead>
        <tr>
            @if (!this.User.IsInRole("Admin"))
                {
                <th>
                    @Html.Label("Sorteer op:")
                </th>
                }
                <th>
                    @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
                </th>
                <th>
                    @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NaamSortParm })
                </th>
                <th>
                    @Html.ActionLink("Prijs", "Index", new { sortOrder = ViewBag.PrijsSortParm })
                </th>
                <th>
                    @Html.ActionLink("Merk", "Index", new { sortOrder = ViewBag.MerkSortParm })
                </th>

            @if (this.User.IsInRole("Admin"))
                {
                <th>
                    @Html.DisplayNameFor(model => model.Afbeelding)
                </th>
                <th>
                    @Html.ActionLink("Kleur", "Index", new { sortOrder = ViewBag.KleurSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal", "Index", new { sortOrder = ViewBag.AantalSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal_gekocht", "Index", new { sortOrder = ViewBag.Aantal_gekochtSortParm })
                </th>
                }
            <th></th>
        </tr>
        @foreach(var item in Model) {
            @if (this.User.IsInRole("Admin"))
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Merk)
            </td>
            <td>
                 <img class="test" src="@Url.Content(@item.Afbeelding)" width="200px" height= "100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal_gekocht)
            </td>
            
            <td>
                <button type="button"><a asp-action="Details" asp-route-id="@item.Id">Item Page</a></button> 
                <br>
                <br>
                <button type="button"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button> 
                <br>
                <br>             
                <button type="button"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
            
            </td>
        </tr>
        }
        }
    </thead>
</table>


<!-- filters -->   
<div id="wrapper" style="width:100%;float:left;">
        
@if(!this.User.IsInRole("Admin"))
{
    <div id="filter" style="float:left; height:100vh; width:15%"> 
        <form  asp-controller="Horloge" asp-action="Index" method="GET">
            <label for="type">Type</label><br>
            <select id="type" name="type" multiple="multiple">
                <option  value = null selected="selected">
                    Alle Types
                </option>
                @foreach(var item in @ViewBag.AllesTypes) 
                {
                    <option value="@item.Type">@item.Type</option>
                }                       
            </select>

            <br>
            <br>            

            <label for="merk">Merken</label><br>
            <select id="merk" name="merk" multiple="multiple">
                <option  value = null selected="selected">
                    Alle Merken
                </option>
                @foreach(var item in @ViewBag.AllesMerken) 
                {
                    <option value="@item.Merk">@item.Merk</option>
                }
            </select>
            
            <br>
            <br>

            <label for="kleur">Kleuren</label><br>
            <select id="kleur" name="kleur" multiple="multiple">
                <option value = null  selected="selected">Alle Kleuren</option>
                @foreach(var item in @ViewBag.AllesKleuren) 
                {
                    <option value="@item.Kleur">@item.Kleur</option>
                }
            </select>

            <br>
            <br>
           
            <label for="min">Prijs</label>

            <br>
           
            <label for="min">Min prijs</label>
            <input id="min" type="number" name="min_prijs" style="width:55px;" min="0"/>

            <br>
            
            <label for="max">Max prijs</label>
            <input id="max" type="number" name="max_prijs" style="width:55px;" min="0"/>

            <br>
            <br>            

            <input class="Filter" type="submit" value="Voeg filters toe"/>
        </form>
        <br>
        <div>
                <form method="post" asp-controller="Horloge" asp-action="Index" >
                    <input type="submit" value="Verwijder Filter" />
                </form>
        </div>    
    </div>
}
 

<!-- productdata -->
<div id="products" style="width:100%">
    
@foreach (var item in Model) 
{

    @if (!this.User.IsInRole("Admin"))
    {
        <div class="card" style="padding:1%;float:left;margin:40px;border:1px solid grey;border-radius: 5px ;">
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="card-block" >
                    <img class="card-img-top" src="@Url.Content(item.Afbeelding)" alt="Card image cap" width="200px" height= "100px" style="float:left;padding: 5px;";>
                    <h4 class="card-title" style="text-align:center; vertical-align:middle;">@item.Naam</h4>            
                </div>
            </a>
            
            <ul class="list-group list-group-flush">
                <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Type: @item.Type</li></a>
                <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Merk: @item.Merk</li></a>
                <a asp-action="Details" asp-route-id="@item.Id"><li class="list-group-item">Prijs: @item.Prijs</li></a>
            </ul>
            
            <div>
                <form  asp-controller="Home" asp-action="AddToShoppingCart" method="GET">
                    <div class="form-group">
                    
                    <p> @Html.TextBox("aantal", 1, new{style = "display: none;"})
                        @Html.TextBox("product", @item.Id, new {style = "display: none;"})
                        @Html.TextBox("model", "Horloge", new {style = "display: none;"})
                        @Html.TextBox("prijs", @item.Prijs, new {style = "display: none;"})
                        <input class="btn btn-default" class="aantal" type="submit" value="Voeg toe aan cart" onclick="myCart()" />
                    </p>
                    </div>
                </form>

                <form  asp-controller="Wishlist" asp-action="AddToWishlist" method="GET">
                    <div class="form-group">
                    <p>
                        @Html.TextBox("aantal", 1, new{style = "display: none;"})
                        @Html.TextBox("product", @item.Id, new {style = "display: none;"})
                        @Html.TextBox("model", "Horloge", new {style = "display: none;"})
                        @Html.TextBox("prijs", @item.Prijs, new {style = "display: none;"})
                        <input class="btn btn-default" class="aantal" type="submit" value="Voeg toe aan wishlist" onclick="myWishlist()"/>
                    </p>
                    </div>
                </form>
            </div>
        </div>
    }
                <script>
function myCart() {
    alert("Toegevoegd aan uw shoppingcart")
}
function myWishlist() {
    alert("Toegevoegd aan uw wishlist")
}
</script>
    }
</div>

</div>
    
